/*
Hey Jesse, hope you're having a great weekend.
According to my understanding, absolutely positioned elements
are removed from normal document flow  and repositioned based on the top,right,bottom,
or left offset values, depending on whether or not the parent element is explicitly positioned.
I gave .redo a position of absolute and its parent, an image a position of relative,
yet I can't seem to get the square (.redo) to be positioned relative to its parent.
Please help when time permits.
*/

* {
 color: #81bce6;
 font-size: 0;
 box-sizing: border-box;
}

span{
  font-size: 15px;
}


.container {
margin: 20px;
}

.shirtCol{
  width:33%
}

.shirt-image {
  width: 100%;
  border: solid 2px #81bce6;
}


.shirt-image img {
  width:100%;
  position: relative;
}


.redo {
position: absolute;
top: 0px;
left: 0px;
border: solid 2px #81bce6;
}

.option-bar {
display: flex;
width: 100%;
}

.icons img {
  margin-top: 5px;
  margin-bottom: 5px;
}

.change i:hover {
  color: #fff;
}

.icons{
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: solid 2px #81bce6;
  border-left: solid 1px #81bce6;
  border-right: solid 1px
}


.footer-bar {
  display: flex;
}



.price{
  float:right;
  font-weight: bold;
}
