/*
-center icons
-add/position redo button
add html for other two shirts
*/


* {
 color: #81bce6;
 font-size: 0;
 box-sizing: border-box;
}

span{
  font-size: 15px;
}


.container {
margin: 20px;
}

.shirtCol{
  width:33%
}

.shirt-image {
  width: 100%;
  border: solid 2px #81bce6;
}


.shirt-image img {
  width:100%;
}


.shirt-image {
  position: relative;
}
​
.redo {
  position: absolute;
  top: 0px;
  right: 0px;
  border: solid 2px #81bce6;
}

.option-bar {
display: flex;
}


.diff-colors  img {

      border: solid 2px #81bce6;
      width: 60px;
      height: 66px;
      position: absolute;
      bottom: 40px;
      left: -8px;
      opacity: 0;
}

.size-chart  img {
      border: solid 2px #81bce6;
      width: 68px;
      height: 160px;
      position: absolute;
      bottom: 40px;
      left: -8px;
      opacity: 0;
}



ul {
  display: flex;
  width: 100%;
  padding:0;
  margin: 0
}

.items li {
  border-bottom: solid 2px #81bce6;
  border-left: solid 1px #81bce6;
  border-rigt: solid 1px #81bce6;
  width: 50%;
}


li {
  position: relative;
}

ul:last-child {
  border-right: solid 2px #81bce6;
}

 {
  background-color: red
}

li:hover > .diff-colors > img {
  opacity: 1;
}

li:hover > .size-chart > img {
  opacity: 1;
}

.footer-bar {
  display: flex;
}

li:hover {

  background-color: #81bce6;

}
li:hover > .material-icons {
  color: #FFF
}
li:hover > span {
  color: #FFF
}
/*.change:hover {
  color: #fff;
}*/


.swatch:hover {
  border: solid 2px #fff;
}


.material-icons{
  line-height: 39px;
  width:100%;
}

/*div .cart {
border-right: solid px #81bce6;
}*/

.price{
  float:right;
  font-weight: bold;
}
